@import "~antd/dist/antd.min.css";
.page {
    font-family: "Montserrat", sans-serif;
}
.page-content {
    width: 1000px;
    max-width: 1000px;
}
.width-25 {
    width: 100px;
}
.mt-24 {
    margin-top: 24px;
}
.pl-24 {
    padding-left: 24px;
}
.pt-24 {
    padding-top: 24px;
}
.pl-10 {
    padding-left: 10px;
}
.pt-16 {
    padding-top: 16px;
}
.pl-16 {
    padding-left: 16px;
}
.pr-16 {
    padding-right: 16px;
}
.pb-16 {
    padding-bottom: 16px;
}
.pl-60 {
    padding-left: 60px;
}
.text-align-center {
    text-align: -webkit-center;
}
.align-items-center {
    align-items: center;
}
.place-content-center {
    place-content: center;
}
.font-weight-700 {
    font-weight: 700;
}
.font-weight-400 {
    font-weight: 400;
}
.font-size-30 {
    font-size: 30px;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-13 {
    font-size: 13px;
}
