.choose-design_wrapper {
    padding-top: 20%;
}
.width-30 {
    width: 30%;
}
.width-75 {
    width: 75%;
}
.width-form {
    width: 300px;
}
.label-form {
    text-align: end;
    padding-right: 25px;
}
.pt-30 {
    padding-top: 30px;
}
.line-height-200 {
    line-height: 200px;
}
