.landing-page_btn {
    background-color: black;
    color: #fff;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 4px;
}
.page-content-title {
    padding-top: 75px;
}
.page-content-content {
    padding-top: 75px;
}
.landing-page-bg {
    margin-top: 20px;
}
